<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>东方不败</string>
		<key>content</key>
		<string>今
  天
    放
      假
        ，
          你
            们
              都
                在
                  干
                    什
                      么
                        ？</string>
		<key>time</key>
		<string>1443682224</string>
	</dict>
	<dict>
		<key>username</key>
		<string>麦兜</string>
		<key>content</key>
		<string>在家吃好吃的</string>
		<key>time</key>
		<string>1443682230</string>
	</dict>
	<dict>
		<key>username</key>
		<string>东方不败</string>
		<key>content</key>
		<string>自我介绍下，东方不败，文学大师金庸小说《笑傲江湖》中的日月神教的教主，
武功当世第一。他在任我行掌教期间任副教主，后趁任我行练功走火入魔之际发动叛乱，囚禁了任我行，并用诡计掌控了神教，成就了枭雄霸业。他在位期间迷恋上了邪功《葵花宝典》，不惜挥刀自宫成就了一身绝世武功，但却因此而心理发生扭曲，宠幸小人杨莲亭，不理教务。最终，他被令狐冲和任我行长剑穿胸杀死。他是金庸大师笔下一个极富真实感，能令读者毛骨悚然的成功的人物形象。</string>
		<key>time</key>
		<string>1443682234</string>
	</dict>
	<dict>
		<key>username</key>
		<string>灰太狼</string>
		<key>content</key>
		<string>去抓羊，抓不到羊老婆不给饭吃啊，我的假期啊~%&gt;_&lt;%</string>
		<key>time</key>
		<string>1443682240</string>
	</dict>
	<dict>
		<key>username</key>
		<string>花千骨</string>
		<key>content</key>
		<string>说好的要寻找八方神器，现在手里才有5件，我得快点儿集齐才能救师父，你们有知道在哪的告诉我下哈~</string>
		<key>time</key>
		<string>1443682252</string>
	</dict>
	<dict>
		<key>username</key>
		<string>武媚娘</string>
		<key>content</key>
		<string>哎~国事为重</string>
		<key>time</key>
		<string>1443682224</string>
	</dict>
	<dict>
		<key>username</key>
		<string>孙悟空</string>
		<key>content</key>
		<string>小骨，不是说好尽快找到神奇，陪俺老孙斗地主嘛！俺老孙都等不急了，先别找那什么神器了，先陪俺老孙斗两圈，你师父那，俺去找阎王改改生死薄就好了~快来</string>
		<key>time</key>
		<string>1443682258</string>
	</dict>
	<dict>
		<key>username</key>
		<string>花千骨</string>
		<key>content</key>
		<string>@孙悟空 大圣，改天吧！等小骨救了师父陪你斗一年</string>
		<key>time</key>
		<string>14436829</string>
	</dict>
	<dict>
		<key>username</key>
		<string>关羽</string>
		<key>content</key>
		<string>你这泼猴，快快还我家主公~</string>
		<key>time</key>
		<string>14436822301</string>
	</dict>
	<dict>
		<key>username</key>
		<string>孙悟空</string>
		<key>content</key>
		<string>哼~那厮要吃俺师父，怎能就这样放了，有本事和你孙爷爷打一架，赢了俺就放！</string>
		<key>time</key>
		<string>1443682324</string>
	</dict>
	<dict>
		<key>username</key>
		<string>杨过</string>
		<key>content</key>
		<string>你们看见我姑姑了吗？</string>
		<key>time</key>
		<string>1443682342</string>
	</dict>
	<dict>
		<key>username</key>
		<string>张无忌</string>
		<key>content</key>
		<string>哈哈~我终于冲破了十重天，小关，我帮你救你家主公^_^</string>
		<key>time</key>
		<string>1443682382</string>
	</dict>
	<dict>
		<key>username</key>
		<string>余则成</string>
		<key>content</key>
		<string>42345435435243243523，这电文什么意思？谁帮我看看，重谢啊~</string>
		<key>time</key>
		<string>1443682395</string>
	</dict>
	<dict>
		<key>username</key>
		<string>东方不败</string>
		<key>content</key>
		<string>这谁知道啊，你问村长去。。。</string>
		<key>time</key>
		<string>1443682406</string>
	</dict>
	<dict>
		<key>username</key>
		<string>羊村村长</string>
		<key>content</key>
		<string>你是怎么潜伏下来的，这都看不懂，我老了，也看不懂啦~你还是找别人吧。。</string>
		<key>time</key>
		<string>1443682425</string>
	</dict>
	<dict>
		<key>username</key>
		<string>小沈阳</string>
		<key>content</key>
		<string>艾玛~这么热闹啊，我在外面piapia逛街呢</string>
		<key>time</key>
		<string>1443682436</string>
	</dict>
	<dict>
		<key>username</key>
		<string>于谦</string>
		<key>content</key>
		<string>是呗，我就去烫个头，就这么多信息了，真是醉了。</string>
		<key>time</key>
		<string>1443682449</string>
	</dict>
	<dict>
		<key>username</key>
		<string>李寻欢</string>
		<key>content</key>
		<string>哎！今天飞刀又失手了~</string>
		<key>time</key>
		<string>1443682507</string>
	</dict>
	<dict>
		<key>username</key>
		<string>郭美美</string>
		<key>content</key>
		<string>外面的世界现在是什么样子的？</string>
		<key>time</key>
		<string>1443682630</string>
	</dict>
	<dict>
		<key>username</key>
		<string>泷泽萝拉</string>
		<key>content</key>
		<string>外面美美的，今天阳光很足啊，不说了，要开机了~</string>
		<key>time</key>
		<string>1443682674</string>
	</dict>
	<dict>
		<key>username</key>
		<string>美国队长</string>
		<key>content</key>
		<string>看见奥特曼追的小怪兽了嘛？我盾牌被TA偷了~%&gt;_&lt;%</string>
		<key>time</key>
		<string>1443682699</string>
	</dict>
	<dict>
		<key>username</key>
		<string>习大大</string>
		<key>content</key>
		<string>今天是国庆节，祝全国人民国庆快乐~</string>
		<key>time</key>
		<string>1443682709</string>
	</dict>
	<dict>
		<key>username</key>
		<string>乔峰</string>
		<key>content</key>
		<string>起来~不愿做奴隶的人们，把我们的血肉筑成新的长城！中华民族到了最危险的时刻，每个人发出最后的吼声！起来~起来~ 向习大大~向全国人民致敬~</string>
		<key>time</key>
		<string>1443682842</string>
	</dict>
	<dict>
		<key>username</key>
		<string>马凯文</string>
		<key>content</key>
		<string>好用就点个赞吧~</string>
		<key>time</key>
		<string>1443684000</string>
	</dict>
</array>
</plist>
